In [1]:
import pandas as pd
import time
import os

In [2]:
sectors = [0] + list(range(10, 65, 5))

In [3]:
#gvkey is unique identifier
df_dict = {'gvkey':[], 'predicted_return':[], 'trade_date':[]}

In [4]:
start=time.time()
for sector in sectors:
    # os.system(f"python3 fundamental_run_model.py -sector_name sector{sector} -tic_column gvkey -fundamental final_ratios.csv -sector sector{sector}.xlsx ")
    df = pd.read_csv(f"results/sector{sector}/df_predict_best.csv", index_col=0)
    for idx in df.index:
        predicted_return = df.loc[idx]
        top_q = predicted_return.quantile(0.75)
        predicted_return = predicted_return[predicted_return >= top_q]
        for gvkey in predicted_return.index:
            df_dict["gvkey"].append(gvkey)
            df_dict["predicted_return"].append(predicted_return[gvkey])
            df_dict["trade_date"].append(idx)
end=time.time()

In [5]:
print("it took ", (end-start)/60, ' minutes')

it took  0.004269111156463623  minutes

In [6]:
df_result = pd.DataFrame(df_dict)

In [7]:
df_result.to_csv("stock_selected.csv")

In [8]:
df_result.head()

    gvkey  predicted_return  trade_date
0  164010          0.035366  2010-12-01
1  176622          0.085328  2010-12-01
2  178901          0.035366  2010-12-01
3  184173          0.039807  2010-12-01
4  176622          0.056985  2011-03-01

In [9]:
df_result_sorted = df_result.sort_values('trade_date')
df_result_sorted

       gvkey  predicted_return  trade_date
3958    3026          0.007839  2004-12-01
7115   29241          0.051191  2004-12-01
7116   30697          0.077103  2004-12-01
7117   64356          0.059952  2004-12-01
7118  111864          0.046994  2004-12-01
...      ...               ...         ...
9250    7974          0.030635  2024-03-01
9249    7366          0.024366  2024-03-01
9248    6338          0.026530  2024-03-01
236   175138         -0.003032  2024-03-01
9850   64925          0.034357  2024-03-01

[9851 rows x 3 columns]