In [15]:
import pandas as pd
import time
import os

In [16]:
df = pd.read_csv(f"results/sector{10}/df_predict_best.csv", index_col=0)

In [17]:
df.index

Index(['2001-03-01', '2001-06-01', '2001-09-04', '2001-12-03', '2002-03-01',
       '2002-06-03', '2002-09-03', '2002-12-02', '2003-03-03', '2003-06-02',
       '2003-09-02', '2003-12-01', '2004-03-01', '2004-06-01', '2004-09-01',
       '2004-12-01', '2005-03-01', '2005-06-01', '2005-09-01', '2005-12-01',
       '2006-03-01', '2006-06-01', '2006-09-01', '2006-12-01', '2007-03-01',
       '2007-06-01', '2007-09-04', '2007-12-03', '2008-03-03', '2008-06-02',
       '2008-09-02', '2008-12-01', '2009-03-02', '2009-06-01', '2009-09-01',
       '2009-12-01', '2010-03-01', '2010-06-01', '2010-09-01', '2010-12-01',
       '2011-03-01', '2011-06-01', '2011-09-01', '2011-12-01', '2012-03-01',
       '2012-06-01', '2012-09-04', '2012-12-03', '2013-03-01', '2013-06-03',
       '2013-09-03', '2013-12-02', '2014-03-03', '2014-06-02', '2014-09-02',
       '2014-12-01', '2015-03-02', '2015-06-01', '2015-09-01', '2015-12-01',
       '2016-03-01', '2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
       '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01', '2018-06-01',
       '2018-09-04', '2018-12-03', '2019-03-01', '2019-06-03', '2019-09-03',
       '2019-12-02', '2020-03-02', '2020-06-01', '2020-09-01', '2020-12-01',
       '2021-03-01', '2021-06-01', '2021-09-01', '2021-12-01', '2022-03-01',
       '2022-06-01', '2022-09-01', '2022-12-01', '2023-03-01', '2023-06-01',
       '2023-09-01', '2023-12-01', '2024-03-01', '2024-06-03', '2024-09-03',
       '2024-12-02'],
      dtype='object')

In [18]:
sectors = list(range(10, 65, 5))

In [19]:
#gvkey is unique identifier
df_dict = {'gvkey':[], 'predicted_return':[], 'trade_date':[]}

In [20]:
start=time.time()
for sector in sectors:
    # os.system(f"python3 fundamental_run_model.py -sector_name sector{sector} -tic_column gvkey -fundamental final_ratios.csv -sector sector{sector}.xlsx ")
    df = pd.read_csv(f"results/sector{sector}/df_predict_best.csv", index_col=0)
    for idx in df.index:
        predicted_return = df.loc[idx]
        top_q = predicted_return.quantile(0.75)
        predicted_return = predicted_return[predicted_return >= top_q]
        for gvkey in predicted_return.index:
            df_dict["gvkey"].append(gvkey)
            df_dict["predicted_return"].append(predicted_return[gvkey])
            df_dict["trade_date"].append(idx)
end=time.time()

In [21]:
print("it took ", (end-start)/60, ' minutes')

it took  0.004703629016876221  minutes

In [22]:
df_result = pd.DataFrame(df_dict)

In [23]:
df_result.to_csv("stock_selected.csv")

In [24]:
df_result.head()

   gvkey  predicted_return  trade_date
0   1661          0.019528  2001-03-01
1   2991          0.018405  2001-03-01
2   5581          0.019699  2001-03-01
3   7620          0.020153  2001-03-01
4  11506          0.018597  2001-03-01

In [25]:
df_result_sorted = df_result.sort_values('trade_date')
df_result_sorted

        gvkey  predicted_return  trade_date
0        1661          0.019528  2001-03-01
12735   12884          0.124801  2001-03-01
12734   11636          0.122789  2001-03-01
12733   10499          0.114890  2001-03-01
12732   10420          0.112142  2001-03-01
...       ...               ...         ...
5011     3580          0.019592  2024-12-02
5012     3650          0.019592  2024-12-02
5013     3851          0.019592  2024-12-02
5007     2285          0.027450  2024-12-02
17550  260774          0.011763  2024-12-02

[17551 rows x 3 columns]